.clientTable{
    background-color: white;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
    border-bottom: solid 5px;
    border: solid 1px black;
}

.column{
    padding: 20px;
}

.thead{
    border-bottom: solid 5px black;
    color: white;
    background-color: #142b69   ;
}

tr:nth-child(even){
    background-color: #ddd;
}

tr:hover{
    background-color: #142b69;
    color: white;
}